# Dependencies
node_modules/
.pnp
.pnp.js

# Build artifacts
dist/
coverage/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db

# Testing
/__snapshots__

package-lock.json
